<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Лёвин-контроль</title>

</head>
<body>
    <a href="{{ url_for('ctrl.index') }}">Контроль</a>
    <a href="{{ url_for('log.index') }}">Логи IP</a>

    <h2>Black list</h2>

    <table>
    {% for line in black_list %}
        <tr>
            <td><pre style="margin: 0">{{ line }}</pre></td>
        </tr>
    {% endfor %}
    </table>

</body>
</html>