{% import 'macros.j2' as macros %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Лёвин-контроль</title>
</head>
<body>

    <h2>{{ macros.dot(router_data.wifi_status) }} Wi-Fi g/n</h2>
    {{ macros.form(router_data.wifi_status, url_for('.turn_wifi')) }}

    <h2>{{ macros.dot(router_data.rule_status) }} Отключающее правило</h2>
    {{ macros.form(router_data.rule_status, url_for('.turn_rule')) }}

    <table>
    {% for line in router_data.wifi_lines %}
        <tr>
            <td><pre style="margin: 0">{{ line }}</pre></td>
        </tr>
    {% endfor %}
    </table>

    <h2>{{ macros.dot(router_data.wifi_ext_status) }} Wi-Fi дополнительный b/g/n</h2>
    {{ macros.form(router_data.wifi_ext_status, url_for('.turn_wifi_ext')) }}

    <h2>{{ macros.dot(router_data.dimaphone_tunnel_status) }} Тоннель DimaPhone</h2>
    {{ macros.form(router_data.dimaphone_tunnel_status, url_for('.turn_dimaphone_tunnel')) }}

    <h2>{{ macros.dot(router_data.demkon_tunnel_status) }} Тоннель Demkon</h2>
    {{ macros.form(router_data.demkon_tunnel_status, url_for('.turn_demkon_tunnel')) }}

    <h2>{{ macros.dot(relay1_data.relay_status) }} Реле 1 ({{ relay1_data.signal_strength }})</h2>
    {{ macros.form(relay1_data.relay_status, url_for('.turn_relay1')) }}

    <h2>{{ macros.dot(relay2_data.relay_status) }} Реле 2 ({{ relay2_data.signal_strength }})</h2>
    {{ macros.form(relay2_data.relay_status, url_for('.turn_relay2')) }}

    {% for mqtt_device in mqtt_devices %}
        {% if mqtt_device.type == 'switch' %}
          <h2>{{ macros.dot(mqtt_device.state) }} {{ mqtt_device.name }} ({{ mqtt_device.signal_strength }})</h2>
          {{ macros.mqtt_switch(mqtt_device) }}
        {% elif mqtt_device.type == 'temp_hum' %}
          <h2>{{ macros.mqtt_temp_hum(mqtt_device) }} {{ mqtt_device.name }} ({{ mqtt_device.signal_strength }})</h2>
        {% elif mqtt_device.type == 'motion' %}
          <h2>{{ macros.dot(mqtt_device.occupancy) }} {{ mqtt_device.name }} ({{ mqtt_device.signal_strength }})</h2>
        {% endif %}
    {% endfor %}

    <p>
        <a href="{{ url_for('log.index') }}">Логи</a>
        <a href="{{ url_for('black.index') }}">Black list</a>
    </p>

</body>
</html>