{% macro dot(status) -%}
    {% if status %}
        <span style="color: lawngreen">&#9679;</span>
    {% else %}
        <span style="color: lightslategray">&#9679;</span>
    {% endif %}
{%- endmacro  %}

{%  macro form(status, url) -%}
    <form method="post" action="{{ url }}">
    {% if status %}
        <input type="hidden" name="new_status" value="false">
        <input type="submit" value="Отключить" style="font-size: 2.5rem">
    {% else %}
        <input type="hidden" name="new_status" value="true">
        <input type="submit" value="Включить" style="font-size: 2.5rem">
    {% endif %}
    </form>
{%- endmacro %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Лёвин-контроль</title>

</head>
<body>
    <h2>{{ dot(wifi_status) }} Wi-Fi g/n</h2>
    {{ form(wifi_status, url_for('.turn_wifi')) }}

    <h2>{{ dot(rule_status) }} Отключающее правило</h2>
    {{ form(rule_status, url_for('.turn_rule')) }}

    <table>
    {% for line in wifi_lines %}
        <tr>
            <td><pre style="margin: 0">{{ line }}</pre></td>
        </tr>
    {% endfor %}
    </table>

    <h2>{{ dot(wifi_ext_status) }} Wi-Fi дополнительный b/g/n</h2>
    {{ form(wifi_ext_status, url_for('.turn_wifi_ext')) }}

    <h2>{{ dot(relay_status) }} Реле ({{ signal_strength }})</h2>
    {{ form(relay_status, url_for('.turn_relay')) }}

    <p>
        <a href="{{ url_for('log.index') }}">Логи</a>
        <a href="{{ url_for('black.index') }}">Black list</a>
    </p>

</body>
</html>