{% macro dot(status) -%}
    {% if status %}
        <span style="color: lawngreen">&#9679;</span>
    {% else %}
        <span style="color: lightslategray">&#9679;</span>
    {% endif %}
{%- endmacro  %}

{%  macro form(status, url) -%}
    <form method="post" action="{{ url }}">
    {% if status %}
        <input type="hidden" name="new_status" value="false">
        <input type="submit" value="Отключить" style="font-size: 2.5rem">
    {% else %}
        <input type="hidden" name="new_status" value="true">
        <input type="submit" value="Включить" style="font-size: 2.5rem">
    {% endif %}
    </form>
{%- endmacro %}

{%  macro mqtt_switch(device) -%}
    <form method="post" action="{{ url_for('.turn_mqtt_switch') }}">
        <input type="hidden" name="device_name" value="{{ device.name }}">
    {% if device.state %}
        <input type="hidden" name="new_state" value="false">
        <input type="submit" value="Отключить" style="font-size: 2.5rem">
    {% else %}
        <input type="hidden" name="new_state" value="true">
        <input type="submit" value="Включить" style="font-size: 2.5rem">
    {% endif %}
    </form>
{%- endmacro %}

{%  macro mqtt_socket(device) -%}
    <form method="post" action="{{ url_for('.turn_mqtt_switch') }}">
        <input type="hidden" name="device_name" value="{{ device.name }}">
    {% if device.state %}
        <input type="hidden" name="new_state" value="false">
        <input type="submit" value="Отключить" style="font-size: 2.5rem">
    {% else %}
        <input type="hidden" name="new_state" value="true">
        <input type="submit" value="Включить" style="font-size: 2.5rem">
    {% endif %}
    </form>
{%- endmacro %}

{% macro mqtt_temp_hum(device) -%}
    <span style="color: DodgerBlue">Темп: {{ device.temperature }}&deg; Влажн: {{ device.humidity }}%</span>
{%- endmacro %}

{%  macro mqtt_motor(device) -%}
    <form method="post" action="{{ url_for('.set_mqtt_motor') }}">
        <input type="hidden" name="device_name" value="{{ device.name }}">
    {% if device.position < 100 %}
        <input type="hidden" name="position" value="100">
        <input type="submit" value="Установить 100" style="font-size: 2.5rem">
    {% else %}
        <input type="hidden" name="position" value="0">
        <input type="submit" value="Установить 0" style="font-size: 2.5rem">
    {% endif %}
    </form>
{%- endmacro %}

{% macro mqtt_co2(device) -%}
    <span style="color: DodgerBlue">CO2: {{ device.co2 }} ppm</span>
{%- endmacro %}
